<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/style.css" rel="stylesheet" />
    <title>Registration</title>
</head>
<body>
<form method="post" action="~/Home/ProceedResult">
    @for (int i = 0; i < 3; ++i)
    {
        <div>
            <h3>Input User № @(i + 1):</h3>
            <p>
                <label>FirstName</label>
                <input type="text" name="users[@i].FirstName"/>
            </p>
            <p>
                <label>Surname</label>
                <input type="text" name="users[@i].Surname"/>
            </p>
            <p>
                <label>Age</label>
                <input type="number" name="users[@i].Age"/>
            </p>
        </div>
        <hr />
    }
    <p><input type="submit" value="Register"/></p>
</form>
</body>
</html>