<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/style.css" rel="stylesheet" />
    <title>Registration</title>
</head>
<body>
    <form method="post" action="~/Home/ProceedResult">
        <div>
                <h3>Input User Data:</h3>
                <p>
                    <label>FirstName</label>
                    <input type="text" name="firstName" />
                </p>
                <p>
                    <label>Surname</label>
                    <input type="text" name="surname" />
                </p>
                <p>
                    <label>Age</label>
                    <input type="number" name="age" />
                </p>
            </div>
        <p><input type="submit" value="Register All" /></p>
    </form>
</body>
</html>